*{
    margin: 0;
    padding: 0;
  }
  
  .container{
    height: 100vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
  
  }

  .container-form{
    height: 100vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
  
  }
  
  .navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  nav{
    width: 100%;
    flex: 1;
    padding-left: 80px;
  
  }
  
  nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 0px 20px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  .row{
   
    align-items: center;
 
  }

  .col{
    display: flex;
    margin-top: 50px;
    /* min-width: 250px; */
  }

  .small-row{

    margin: 10px;
    padding: 10px;
  }
 
 h1, h2{
    font-size: 40px;
    font-family: 'Ranchers', cursive;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #000000;
  }
  
  .content .btn{
    display: block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 8px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    /* box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15); */
  }

 .small-row .btn{
    display: block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 8px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    /* box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15); */
  }


  section .container .contactForm{
    position: absolute;
    padding: 100px 50px;
    background: #fff;
    margin-left: 20px;
    padding-left: 40px;
    width: calc(100% - 15px);
    height: 100px;
    /* box-shadow: 0 50px 50px rgba(0,0,0,0.5); */
  }
  
  section .container .contactForm h2 
  {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
  
  }
  
  section .container .contactForm .formBox{
  
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
  
  }
  
  section .container .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
  
  }
  
  section .container .contactForm .formBox .inputBox.w50 {
    width: 47%;
  
  
  }
  
  section .container .contactForm .formBox .inputBox.w100 {
    width: 100%;
  }
  
  section .container .contactForm .formBox .inputBox input,
  section .container .contactForm .formBox .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
  }
  section .container .contactForm .formBox .inputBox textarea{
    min-height: 120px;
  
  }
  
  section .container .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    transition: 0.5s;
  
  
  }
  
  



section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span, 

  section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span {

  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;

}

section .container .contactForm .formBox .inputBox input:[type="submit"]
{
  position: relative;
  cursor: pointer;
  background: #0f3959;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;

}
/* 
  
  .form-content{
    text-align: center;
    width: 100%;
    /* align-items: center; */
  }
  .contact-form{
    width: 100%;
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .form  {
    position: relative;
    height: 20px;
    /* background: lightgray */
  }
  .form-nome {
     width: 100%;
  } */

  .form input{
    /* width: 100%;
    height: 50%; */
    padding-bottom: 40px;
    /* color: #595f6e; */
    border: none;
  }
  .form textarea{
    padding-bottom: 120px;
    border: none;
  }
  /* .sobreNome{
    position: absolute;
  } */